<form class="form" [formGroup]="registrationForm" (ngSubmit)="submitForm(registrationForm.value)">
<h1 style='font-family:Trebuchet MS'>SIGN UP PAGE</h1>
<div>
<h3>Sign up to make Mentorz yours</h3>
<label>Enter Your Name:</label>
<input type="text" class="field-box" placeholder="Name" name="name" [(ngModel)]="registrationForm.controls.name.value" formControlName='name'><br>
<label>Enter Your Email Id:</label><input type="email" class="field-box" placeholder="Email" name="email" [(ngModel)]="registrationForm.controls.email.value" formControlName="email"><br>
<label>Enter Your Password: </label><input type="password" placeholder="Password" name="password" [(ngModel)]="registrationForm.controls.password.value" formControlName="password"><br>
<input type="text" placeholder="Country Code" name="country_code" [(ngModel)]="registrationForm.controls.country_code.value" formControlName="country_code">
<input type="number" placeholder="Phone Number" name="phone_number" [(ngModel)]="registrationForm.controls.phone_number.value" formControlName="phone_number"><br>
<label>Enter one biological characteristic:</label><input type="text" placeholder="One Line Bio" name="bio" [(ngModel)]="registrationForm.controls.bio.value" formControlName="bio"><br>
<label>Enter Your Date of Birth:</label><input type= "date" name="date" [(ngModel)]="registrationForm.controls.date.value" formControlName="date"><br>
<input type="submit" value="Sign Up"><br>

<i><label>Already Registered?</label></i><a routerLink='/signin'><input type="submit" value="Sign In" ></a>
</div>
</form>


