<div class="jumbotron jumbotron-fluid text-center bg-danger" style="margin-bottom:0">
  <div class = "content-dir-item">
    <img src="/assets/images/128favicon.png" width="50" height="50" class="img-responsive red-logo" alt="logo">
    <h1 style="font-family: '', serif;
    font-size: 48px;
    display: inline;
    text-shadow: 4px 4px 4px #aaa;" >Mentorz</h1>
    </div>
    <h3 style="font-family: 'Tangerine'">Welcome To The Mentorz World</h3> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#" active>Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Stories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Match</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="#">Message</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/signin'>Sign In</a>
      </li>
      
    </ul>
  </div>  
</nav>

<section>
  <img src="assets/images/banner_bg.png" alt="">
  <!-- <p style="background-image:url('assets/images/banner_bg.png')"><app-sidebar></app-sidebar></p> -->
    <!-- <img src="assets/images/banner_bg.png" alt="main image" class="img-responsive"/> -->
</section>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p></p>
      <p></p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p></p>
      <p></p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3> 
      <p></p>
      <p></p>
    </div>
  </div>
</div> -->

<!-- <a routerLink="/login"><button class="btn btn-primary" >Stories</button></a>
<a routerLink='/login'><button class="btn btn-primary">Login</button></a> -->
<div class="jumbotron text-center" style="margin-bottom:0">
  <p>
    footer
  </p>
</div>

<!-- <button (click)="onClickMe()">Login</button>
<input (keyup)="keyUp($event)">
  <p>{{values}}</p> -->
  



