<form class="form" [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
<h1 style="font-family: Trebuchet MS">SIGN IN PAGE</h1>   
Country Code :<input type="text" name="country_code" [(ngModel)]="loginForm.controls.country_code.value" formControlName="country_code"><br> 
Enter Your Phone Number:<input type="number" name="phone_number" [(ngModel)]="loginForm.controls.phone_number.value" formControlName="phone_number" ><br>
Enter the password:<input type="password" name="password" [(ngModel)]="loginForm.controls.password.value" formControlName="password"><br>
<button type="submit">Sign In</button><br>
<!-- <a routerLink='/setpassword'>Forgot Password?</a><br> -->
<label>Not Registered?</label><a routerLink="/login">Sign Up</a>
</form>