/* Fontfamily css */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: 'Myriad Pro';
    src: url('/assets/fonts/Myriad Pro Regular.ttf');
    src: url('/assets/fonts/Myriad Pro Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*universal css*/
body { 
    position:relative;
    font-family: "Myriad Pro",sans-serif; 
    font-size: 14px;
    color: #2a2a2a; 
    overflow: hidden; 
    overflow-y: auto 
}
a{
    color: #2a2a2a;
    text-decoration: none;
    outline: none;
}
a:visited,a:hover,a:active {color:#f43334;text-decoration: none;}
.nopadding,.pad0  { padding: 0; margin: 0; }
.nomargin { padding: 0 ; margin: 0 ; }
button {
    background:#f43334; 
    border: 1px solid #f43334; 
    color: #fff; 
    font-size: 16px; 
    cursor: pointer;
    border-radius: 18px;
    text-transform:capitalize;
}
button:hover,button:focus {
    background: #fff;
    border-color:#f43334; 
    color:#f43334;
}
input::-webkit-input-placeholder {opacity: 1;}
input:-ms-input-placeholder {opacity: 1;}
input::-moz-placeholder {opacity: 1;}
input:-moz-placeholder {opacity: 1;}
label { -webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Chrome/Safari/Opera */
-khtml-user-select: none; /* Konqueror */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none;/* Non-prefixed version, currently*/   
font-weight: normal;           
}
h3 {
    color: #2a2a2a;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    position: relative;
    width: 33%;
    top: 0;
    margin: 0 auto;
    padding-bottom: 33px;
}
h3:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: "";
    width: 54px;
    height: 2px;
    border-bottom: 2px solid #f43334;
    text-align: center;
}
.container {
    width:76%;
}


/*==== HEADER HERE ======*/
/* Loader while fully loaded css */
.overlay-home {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: red;
    display: none;
}
.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid green;
   -webkit-animation: spin 2s linear infinite;
   -moz-animation: spin 2s linear infinite;
   -ms-animation: spin 2s linear infinite;
   -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 7px #333;
    z-index: 99999;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* End Loader while fully loaded */
.f-navv h5:hover,.f-navv h5:active,.f-navv h5:focus,ul.f-help >li>a:hover,ul.f-help >li>a:active,ul.f-help >li>a:focus {
    color: #f43334;
}
#header-wrap {
    background:#f43334;
    padding-top: 21px;
    /* padding-bottom: 21px; */
}
/*left section*/
/*search box */
input.m-search {
    border-radius: 25px;
    height: 40px;
    box-shadow: none;
    outline: none;
    margin-right:50px;
    max-width: 414px;
    width: 100%;
    position: relative;
    top:0;
    padding-left: 38px;
}
.form-control:focus{border-color:transparent;}
.s-icon{
    position: absolute;
    top: -4px;
    left: 11px;
    padding: 10px;
}
/*right section*/
ul.right-sec {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    border-top:none;
    padding-top:0px;
    float: right;
}
ul.right-sec >li {padding: 0 20px;}
ul.right-sec >li:last-child{padding-right: 0;}
ul.right-sec >li>a> img {
    margin: 0 auto;
    display: block;
    height: 24px;
    width: 24px;
    
}

a#loginLink img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    
}
ul.right-sec > li > a,a#loginLink {
    text-decoration: none;
    color:#fff;
    display: inline-block;
    text-align: center;
    padding-bottom: 21px;
    border-bottom: 4px solid transparent;
    text-transform: capitalize;
    
}
ul.right-sec > li > a:hover,ul.right-sec > li > a:active,ul.right-sec > li > a:focus{
    border-bottom: 4px solid #fff;
}
ul.user-sub {
    z-index: 99999999;
    border: 1px solid #cccccc;
    border-radius: 5px;
    position: absolute;
    width: 136px;
    background: #fff;
    text-align: left;
    top: 62px;
    right: 0px;
    display: none;
    padding: 0px;
}
ul.user-sub:before {
    content: "\f0de";
    font-family: fontAwesome;
    top: -16px;
    right: 15%;
    position: absolute;
    color: #fff;
    font-size: 2em;
    z-index: -1;
}
ul li.dropdown-bs:last-child:hover .user-sub {
    display: block;
}
 ul.user-sub > li{
    display: block;
    
}
ul.user-sub > li:last-child{
    border-bottom: none;
}
ul.user-sub > li > a {
    display: block;
    padding: 0 12px;
    line-height: 38px;
    color: #000;
}
ul.user-sub > li > a:hover,ul.user-sub > li > a:focus,ul.user-sub > li > a:active{
   background: #f43334;
   color: #fff;
}

/* signin */
.log-detail-list{padding: 0;margin: 0;}
.signin-head {
    font-size: 19px;
    color: #515050;
    margin-bottom: 18px;
    text-align: center;
}
.login-popup img.red-log {
    margin: 31px auto;
}

.login-popup .login-outer{ 
    width:100%; 
    margin:0px auto 57px; 
    max-width:562px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}
.login-popup .login-outer .login-form{ 
    float:left;
    width:100%;
    padding:28px 58px 25px;
}
.login-popup .login-outer .login-form h3{ 
    font-size: 15px;
    text-align: center;
    color: #515050;
    font-weight: 500;
    width: 100%;
}
.login-popup .login-outer .login-form h3:before{
    display: none;
}
.login-form .sub-menu-item
{
    border-bottom:1px solid #515050;
    height:0.6em;
    text-align:center;
    margin:2em 0em;
    
}
.sub-menu-item span{
    padding: 0 12px;
    background: #fff;
    display: inline-block;
    text-transform: uppercase;
    color: #515050;
    font-weight: 500;
}
.fb-sec,.ln-sec{display: inline-block;position: relative;width: 42%;}
.fb-sec{float:left;}
.ln-sec{float: right;}
input.fb-login {
    background: #3b57a1;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 9px 20px;
    width:100%;  
    outline:0;
}
input.fb-login:active,input.fb-login:hover,input.fb-login:focus{
    background: #4361b2;
    outline:0;
}
.fb-sec:before{
    content: '\f09a';
    font-size: 1em;
    color:#fff;
    text-align: center;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 38px;
    width: 38px;
    background: #3b57a1;
    border: 1px solid #fff;
    border-radius: 100%;
    line-height: 38px;
}

input.ln-login {
    background: #127bb5;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 9px 20px;
    width:100%; 
    outline: 0;
}
input.ln-login:hover,input.ln-login:active,input.ln-login:focus{
    outline: 0;
    background:#1d91d1; 
}
.ln-sec:before{
  content: '\f0e1';
  font-size: 1em;
  text-align: center;
  color: #fff;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  top:0;
  bottom: 0;
  height: 38px;
  width: 38px;
  border: 1px solid #fff;
  border-radius: 100%;
  line-height: 38px;
  background:#127bb5;
}
.login-popup .login-outer .form{ float:left; width:100%; padding:0px 0px;}
.login-popup .login-outer ul li{ float:left; width:100%; list-style:none; margin:0px 0px 13px 0px }
.login-popup .login-outer ul li small{transition: all 0.4s ease-in-out}
.login-popup .login-outer ul li .std{ width:16%;margin-right: 12px;float: left;}

.login-popup .login-outer ul li .std .select-style {width: 100%; border:1px solid #c2c2c2; border-radius:18px;  overflow: hidden;  background: url('/assets/images/select-arrow.png') no-repeat 85% 14px #fff; display:block; }

.login-popup .login-outer ul li .std .select-style select {  padding:10px 20px 10px 10px; width: 100%; border: none; box-shadow: none; background: none; background-image: none; -webkit-appearance:none; -moz-appearance:none; appearance:none; font-family: 'LatoWebMedium'; color: #909090;  font-size:12px; cursor:pointer;}

.login-popup .login-outer ul li .std .select-style select:focus { outline: none;}
.phonesignup{
    display: inline-block;
    width: 81% !important;
    float: left !important;
}
.datepicker{
    position: relative;
}
.datepicker .fa-calendar {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 11px;
}
.login-popup .login-outer ul li .field-box{outline-color: transparent;padding:11px 20px; font-size:12px; border:1px solid #c2c2c2; border-radius:18px; float:left; width:100%; list-style:none; color:#909090;}
.login-popup .login-outer ul li .field-box:focus{ border:1px solid #f43334; }
.spin-container {
    position: relative;
    background: #f43334;
    border-radius: 18px;
    width: 40%;
    border:1px solid #fff;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    cursor: pointer;
}
.login-popup .login-outer ul li .submit{ 
    background: transparent;
    border-radius: 18px;
    color: #FFF;
    padding: 11px 0px;
    border: none;
    width: 100%;
    float: left;
    font-weight: 700;
    position: relative; 
    outline-color: transparent;   
}
.spin-container:hover,.spin-container:active,.spin-container:focus{
    background: #ff5b5c;
}
.login-popup .login-outer p{ 
    font-weight:700;
    text-align:center;
    color:#303030;
    margin:0px;
    float:left;
    width:100%;
    margin:20px 0px 0px 0px;
    border-top: 1px solid #f2efef;
    padding-top: 19px;
}

.submit a{ 
    font-size: 12px;
    font-weight: 500;
    margin: 0 0px 20px 0px;
    display: inline-block;
    float:right;
    color: #000 !important;
    padding-top: 5px;
    position: relative;
    top: 9px;
    text-decoration: none;
    transition: 0.4s;
}
.submit a:hover,.submit a:active,.submit a:focus{
    text-decoration: underline;
}
.submit .fa-spin {
    position: absolute;
    padding: 15px;
    right: 0;
    color: #fff;
}
 .login-popup .login-outer a{ color:#f43334;}
 
.login-popup .login-outer .otp h3{ font-size:14px; text-align:center; margin:0px 0px 26px 0px; }
.login-popup .otp h3 span{color:#f43334;}
.bement:first-child {margin-left: 0;}
.bement.active {
    background: #f43334;
    color: #fff;
    border:1px solid #f43334;
}
.bement {
    margin-left: 30px;
    background: transparent;
    color: #c5c5c5;
    border: 1px solid #d1d1d1;
    padding:2px 24px;
    font-size: 17px;
    border-radius: 30px;
    outline: 0;
}
.find-ment-wrap {
    text-align: center;
    margin: 45px 0px;
}
.r-corner{
    display:inline-block;
    float:right;
    clear: both;
    position: relative;
    left: 12px;
    top: -18px;
}
/* Interest css */
.warningshow {
    display: inline-block;
    margin-left: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 0px 19px #740708;
    position: relative;
    top: -16px;
}
.snackbarcustom{
    padding: 10px 0px;
    text-align: center;
    color:#fff;
    background: #403635;
    word-wrap: break-word;
}
#pickinterest-wrapp{
    background: url('/assets/images/interest_bg.jpg') no-repeat 0 0;
    background-size: cover;
}
#pickinterest-wrapp h1 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin: 30px 0px 20px;
}
#pickinterest-wrapp p {
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.add-exp-mentorz {
    margin: 0 auto 42px;
    width: 71%;
}
.spin-continue {
    width: 20%;
    text-align: center;
}
.spin-continue .submit{
    background: transparent;
    border-radius: 18px;
    color: #FFF;
    padding: 11px 0px;
    border: none;
    width: 100%;
    float: left;
    font-weight: 700;
    position: relative;
    outline-color: transparent;
    -ms-outline-color:transparent;
    -webkit-outline-color:transparent;
    
}
.spin-continue .fa-spin {
    position: absolute;
    padding: 15px;
    right: 0;
    color: #fff;
}
/*interest child css */
.interestbackbtn{
   background: transparent;
    border-radius: 18px;
    width: 100%;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    cursor: pointer;
    color: #fff;
    text-transform: capitalize;
    width: 127px;
    height: 38px;
    outline-color: transparent;
    border: 1px solid #fff;
}
.interestbackbtn:hover,.interestbackbtn:active,.interestbackbtn:focus{
    background: rgba(255,255,255,0.39);
}
/* End Interest css */
/*Signup form*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus  {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px white inset;
}
input:autofill, textarea:autofill, select:autofill {
    background-color: transparent !important;
}
.right-sec .modal-body{padding: 0;}
.login-popup .login-outer .head .close1 {
    position: relative;
    top: 3px;
    opacity: 1;
    font-weight: 500;
}
/*End Signup form*/
/*==== END HEADER HERE ======*/

/*==============Main slider wrapper css======*/
#main-img-wrapper{
    position: relative;
    top:0;
}
.engage-mentor-sec {
    width: 55%;
    position: absolute;
    top: 30%;
    right: 0;
}
.engage-mentor-sec h1{
    color:#2b2b2b;
    width: 53%;
    font-size: 44px;
    font-weight: 700;
}
.engage-mentor-sec p {
    width: 41%;
    margin-top: 21px;
    font-size: 16px;
    color: #2b2b2b;
    margin-bottom: 35px;
}
.engage-mentor-sec ul>li:last-child{margin-left: 20px;}
.topappstor,.topplaystor{
    width:168px;
    height:60px ;
    position: relative;
    display: inline-block;
}
.topappstor .img-back,.topplaystor .img-back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.topappstor:hover .img-back,.topplaystor:hover .img-back {
    display: inline;
}

/*=======End main slider wrapper css===== */
/* ==========How Work sec css========= */

.bg-work-sec {
    background: url('../images/sliderbg.jpg') no-repeat 0 0;
    background-size: contain;
    position: relative;
    top:0;
    margin-top:141px;
    padding:8% 0% 20%;
}
.st-mentor h2 {
    color: #fff;
    font-size: 27px;
    margin-left: 20px;    
}
.work-main {
    margin-left: 18%;
}
.work-main h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 31px;
}
.work-main p {
    color: #fff;
    width: 53%;
    font-size: 16px;
}
.img-sec-wrp img.img-wrap{
    position: absolute;
    top: -74px;
    right: 27%;
}
.img-sec-wrp img.sub-img-se {
    position: absolute;
    top: -72px;
    right: 26.9%;
}
#work-wrap .slick-dots{
    bottom: -49px;
    width: 14%;
    text-align: left;
    left: 13%;
}
#work-wrap .slick-dots li button:before{color: #fff;}
.slick-dots li.slick-active button:before{
    color: #fff;
}
.slick-dots li button:before{font-size: 8px;}
/* ==========End How Work sec css========= */
/*==========popular topic css=========*/

#pop-t { 
    margin: 0px 0px 55px;
    background: #fef3f1;
    padding-top: 51px;
}
.topic-sel {margin: 46px 0px;}
.topic-bx {
    background: #fff;
    color: #000;
    font-size: 15px;
    padding:0px 43px 0px 43px;
    border-radius: 31px; 
    box-shadow: 1px 1px 6px #ccc;
    height: 35px;
    position: relative;
    top: 0;
    margin: 10px 8px;
   
}
.addp0 {
    padding-top: 6px;
}
.topic-bx label {
    margin: 0;
}
.topic-bx .badgebox{opacity: 0;margin: 0;}
.topic-bx .badgebox + .badge{ text-indent: -999999px;	width: 22px;height: 22px;}
/* .topic-bx .badgebox:focus + .badge { box-shadow: inset 0px 0px 5px;} */
.topic-bx .badgebox:checked + .badge {text-indent: 0;}
.topic-bx .badge{border: 1px solid transparent;line-height:22px;background:#f43334;border-radius: 100%;padding: 0px;}
.topic-sel ul {margin: 0 auto; width: 71%;}
.topic-sel ul li {margin:0px;padding: 0;}

.pluscircle {
    display: inline-block;
    color: #767575;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: #e1e1e1;
    margin-left: 10px;
    font-size: 22px;
    line-height: 35px;
    width: 35px;
    height: 35px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.defult-txt{
    color: #000 !important;
    margin: 0;
    text-align: left !important;
    height: 35px;
    display: inline-block;
    padding-top: 4px;
}
/*==========End popular topic css=========*/
/*=====top stories css ===== */
/* Common card css */
.box-wrapr{
    max-width: 282px;
    width: 100%;
    box-shadow:0px 0px 8px #b4afaf;
    margin: 0 auto 20px;
    border-radius: 10px;
}

.t-st-bx-wrapp:focus,.t-st-bx-wrapp:active,.slick-initialized .slick-slide:focus,.slick-initialized .slick-slide:active {
    outline: 0;
}
.t-stories-slider,.tr-slider-slick {
    margin: 0 auto;
    width: 71%;
    margin-top: 5%;
}
.inn-bx img {
    position: relative;
    top: 0;
    display: inline-block;
}
.bg-black-hvr {
    position: absolute;    
    width: 282px;
    top: 0;
    height: 180px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    cursor: pointer;
}
.bg-black-hvr:hover {
    background: #333333a3;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.bg-black-hvr img.thumb-play{
    position: relative;
    top: 41%;
    left: 41%;
    display: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.bg-black-hvr:hover img.thumb-play{
    display: inline-block;
}
.bg-black-hvr p.view-sec{
    position: absolute;
    bottom: 0%;
    right: 0%;
    display: none;
    color:#fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-right: 20px;
}
.bg-black-hvr:hover p.view-sec{
    display: inline-block;
}
.p-det,.card-foot p {
    color: #b2b0b0;
}
.p-det.caption {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 10px;
}
ul.tot-soc-ic{margin:5px 0px 15px;}
.tot-soc-ic li:last-child {
    margin-left:62px;
}

.sub-im{width:31%}
.p-det.caption h5 {
    color: #2a2a2a;
    font-size: 20px;
    margin:6px 0;
}
.p-det.caption p {
    font-size: 16px;
    font-weight: 200;
    margin: 0;
}
ul.t-social-ic,ul.t-star {
    float: right;
    clear: both;
    margin-left:0
}
ul.t-star {
    margin-top: 20px;
}
ul.t-star >li{padding: 0}
ul.t-star >li:last-child{padding-right: 5px;}
.card-foot{
    border-top: 1px solid #aeacac;
    padding-bottom: 12px;
    background: #f0f0f0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.card-foot p{margin-bottom: 8px;padding: 0px 12px;margin-top: 9px;}
#top-stories-wrap .slick-dots li{width: 6px;}
#top-stories-wrap .slick-prev {
   background: url(../images/prev.png) no-repeat 0 0;
   position: absolute;
   left: 47%;
   top: 103.5%;
   z-index: 99;
}
#top-stories-wrap .slick-next {
  background: url(../images/next.png) no-repeat 0 0;
  position: absolute;
  right: 44%;
  top: 103.5%;
  z-index: 99;
}
#top-stories-wrap .slick-prev:before,#top-stories-wrap .slick-next:before{
    display: none;
}
#top-stories-wrap .slick-dots li.slick-active button:before{color: #000;}
/*=====End top stories css ===== */

/*=====trending mentor css===== */
#tr-wrapper{
   margin-top: 62px;
}
.tr-profile{
    position: relative;
    top: 0;
}
.tr-profile .sm-pic {
    position: absolute;
    bottom: -31px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.tr-regular .slick-slide{
    padding-bottom: 25px;
}
.tr-des-prof {
    margin-top: 44px;
    padding: 0 15px;
}
.prof-nm h5 {
    color: #000;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap:normal;
    white-space: nowrap;
}
.prof-nm p{
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    white-space: nowrap;
    word-wrap:normal;
    font-size: 16px;
    font-weight: 200;
    color: #b2b0b0;
}
ul.tr-social-ic,ul.tr-star {
    float: right;
    clear: both;
    margin-left:0
}
ul.tr-star >li{padding: 0}
ul.tr-social-ic>li{padding: 0 2px;}
.skills-container{
    display: flex;
    flex-flow: row wrap;
    margin-top: 25px;
    padding: 0 15px;
}
span#skil-set {
    background: #ececec;
    border: 1px solid #938a8a;
    border-radius: 24px;
    padding: 1px 8px;
    font-size: 11px;
    /* margin: 5px 5px 0 0; */
}
ul.skill-tag {
    margin: 0px;
}
ul.skill-tag > li {
    margin-top: 5px;
}
#skil-ad-more {
    cursor: pointer;
    padding: 7px 15px 0px;
    display: block;
    text-align: right;
}
#skil-ad-more a{
    color: #f43334;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
#skil-ad-more a:hover{text-decoration: underline;}
ul.skill-tag >li:last-child {
    margin-left: 111px;
}
.f-tr-mark {
    /* border-top:1px solid #aeacac;
    background:#ececec;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px; */
    margin-top:12px;
    position:relative;
    padding-bottom:0px;
}
.f-tr-mark p {
    padding-left: 15px;
    margin-top: 14px;
    margin-bottom: 0;
}

button.snd-req,button.snd-req1 {
    background: #fff;
    border:2px solid transparent;
    border-radius: 32px;
    box-shadow: 0px 0px 10px #b8b5b5;
    width: 175px;
    height: 44px;
    position: relative;
    left: 0;
    right: 0;
    bottom: -23px;
    outline: 0;
    margin: 0 auto;
    display: block;
    transition: all 0.3s ease-in-out;
}
button.snd-req{
    color: #f55b35; 
}
button.snd-req1{
    color:#fff;
    background: #f55b35; /* Old browsers */
    background: -moz-linear-gradient(left, #f55b35 1%, #f63633 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f55b35 1%,#f63633 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f55b35 1%,#f63633 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f55b35', endColorstr='#f63633',GradientType=1 ); /* IE6-9 */
}
button.snd-req:hover,button.snd-req:active,button.snd-req:focus{
    color: #f33535;
    border: 2px solid #f33535;
}
button.snd-req1:hover,button.snd-req1:active,button.snd-req1:focus{
    border: 2px solid #fff;
}

img.btn-ic {
    display: inline;
    margin-right: 7px;
}
p#vw-all {
    text-align: center;
    margin:70px 0 80px;
}
p#vw-all a.viewall {
    background: #fff;
    border: 2px solid #cfcfcf;
    border-radius: 32px;
    box-shadow: 0px 0px 22px #e1dede;
    padding: 15px 75px;
    font-size: 19px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    color: #b2aeae;
    font-size: 17px;
    
}
p#vw-all a.viewall:hover,p#vw-all a.viewall:focus,p#vw-all a.viewall:active {
    color: #f33535;
    border: 2px solid #f33535;
}
a#topscrollbtn {
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 11;
}
#tr-wrapper .slick-prev:before, #tr-wrapper .slick-next:before{
    box-shadow: 0px 0px 15px #333;
    border-radius: 100%;
    font-size: 39px;
    color:transparent;
}
#tr-wrapper .slick-next{
    background: url(../images/next.png) no-repeat 18px 17px;
    width: 42px;
    height: 48px;
    right: -44px;
}
#tr-wrapper .slick-prev{
    background: url(../images/prev.png) no-repeat 15px 16px;
    left: -39px;
    width: 42px;
    height: 48px;
}
#tr-wrapper .slick-prev.slick-disabled:before, #tr-wrapper .slick-next.slick-disabled:before{opacity:0;}
#tr-wrapper .slick-prev.slick-disabled, #tr-wrapper .slick-next.slick-disabled{background: none !important;}
/*=======End trending mentor css*/
/* Find mentor css */
.mar30 {
    margin-top: 30px;
}
#find-mentor-wrapp .container {
    width: 1000px;
}
.prof-detail-wrap {
    height:132px;
    
}
.prof-nm {
    display: inline-block;
    float:left;
    width: 50%;
}
.review-people {
    display: inline-block;
    float:right;
    width: 50%;
}
.set-margin{
    margin: 5px 5px 0 0;
}
.fetch-data {
    text-align: center;
    font-size: 15px;
    margin: 50px 0px;
}
.list-data{
    justify-content: flex-start;
    flex-flow: row wrap;
    display: flex;
}
.find-mentor-4{
    max-width: 282px;
    width: 100%;
    flex: 1 1 auto;
    position: relative;
    margin:0 24px 24px;
}
.find-mentor-4:nth-child(3n){
    margin-right: 0;
}
.inner-detail .tr-bx-wrapp{
    width:100%;
    max-width:auto;
}
/* End Find mentor */
/* Be a mentor css */
#be-mentor-wrap .container{width:1000px;}
/* End Be a mentor css */
/*footer  */
footer {
    background: #403635;
    padding-bottom: 20px;
}
h2#f-nav {
    color: #a29c9c;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: 18px;
}
ul.f-navv >li >a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}
.f-navv h5{
    position:relative;
    top:0;
    padding-left: 31px;
    line-height: 22px;
    
}

.f-navv h5#f-hw:before,.f-navv h5#f-ps:before,.f-navv h5#f-ts:before,.f-navv h5#f-tm:before {
    position:absolute;
    top:0;
    content:"";
    width: 24px;
    height: 21px;
    left: 0;
}
.f-navv h5#f-hw:before{background: url('../images/howitworks.png') no-repeat 0 0;}
.f-navv h5#f-ps:before{ background: url('../images/populartopics.png') no-repeat 0 0;}
.f-navv h5#f-ts:before{background: url('../images/topstories.png') no-repeat 0 0;}
.f-navv h5#f-tm:before{background: url('../images/trending.png') no-repeat 0 0;}
#f-bod{ border-top:1px solid #333;margin: 13px 0px;}
ul.f-navv > li:first-child{padding-left:0;}
ul.f-navv > li {padding: 0 34px;}
#f-bod {
    border-top: 1px solid #5e5c5c;
    margin: 44px 0px 30px;
    display: block;
}
p#copy-rght {
    color: #fff;
    margin: 12px 0px;
}
p#auth-para{
    color: #fff;
    
}
footer h4 {
    color: #9e9898;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 27px;
}
ul.f-help >li>a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    line-height: 23px;
    text-transform: capitalize;
}
ul.f-social img:hover{opacity: 0.8;}
.f-app{margin-bottom: 0;}
.f-app a{display:inline-block;text-decoration:none;}
.f-app a #appstor{
    background:url('/assets/images/apstore_plystore_sprite.png') no-repeat 0 0;
    width: 54px;
    height: 54px;
    display: inline-block;
}
.f-app a:hover #appstor,.f-app a:active #appstor{
    background:url('/assets/images/apstore_plystore_sprite.png') no-repeat 0 -54px;
    width: 54px;
    height: 54px;
    display: inline-block;
}
.f-app a #playstor{
    background:url('/assets/images/apstore_plystore_sprite.png') no-repeat -54px 0;
    width: 54px;
    height: 54px;
    display: inline-block;
}
.f-app a:hover #playstor,.f-app a:active #playstor{
    background:url('/assets/images/apstore_plystore_sprite.png') no-repeat -54px -54px;
    width: 54px;
    height: 54px;
    display: inline-block;
}
/*End footer  */
/*================ Media Query============== */

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 1199px) and (min-width:992px){
    /*Home page css  */
        /* Banner css */
        .engage-mentor-sec{
            top: 15%;
        }
        .engage-mentor-sec h1 {
            width: 73%;
        }
        /* End Banner css */
        /* How it work css */
        .st-mentor h2 {
            margin-left: 20px;
        }
        #work-wrap .slick-dots {
            width: 13%;
            left: 8%;
            text-align: left;
        }
        /* End How it work css */
        /*top stories*/
        .t-stories-slider, .tr-slider-slick{
            width: 95%;
        }
        h3#ts-h:before{left: 9%;}
        /*end top stories*/
        /*trending mentor css */
        #tr-wrapper .slick-next{right: -6px;}
        #tr-wrapper .slick-prev{left:-5px;z-index: 99;}
        /*end trending mentor css */
    /* End Home page css */
    /* Stories page */
    section.stories-wraper .container{
        width:100% !important;
    }
    /* End Stories page */

} 
@media screen and (max-width:991px) and (min-width:768px){
    /* header section css */
    #find-mentor-wrapp .container,#header-wrap .container,#be-mentor-wrap .container
    {    
        width: 100%;
    }
    .stories-wraper .container{width:100% !important;}
    ul.right-sec {float:none;}
    ul.right-sec >li { padding: 0 13px; }
    /*End header sec css  */
    /*Banner sec css  */
    .engage-mentor-sec h1{
        width: 92%;
        font-size: 24px;
    }
    .engage-mentor-sec p{width: 84%;}
    /*End banner sec  */
    /*how it work sec  */
    .bg-work-sec{margin-top: 51px;padding: 6% 0%;}
    h3:before{left: 13%;}
    .img-sec-wrp {
        display: none;
    }
    .work-main p{width: 55%;}
    /*end how it work sec  */
    /*popular stories */
    #pop-t {
        margin: 39px 0px;
    }
    .topic-sel ul{width: 81%;}
    /*End popular stories  */
    /*top stories*/
    h3#ts-h:before{left: 10%;}
    .t-stories-slider, .tr-slider-slick{
        width: 95%;
    }
    /* End top stories */
    /*trending mentor*/
    p#vw-all{margin: 63px 0 43px;}
    /*end trending mentor*/
    /* Footer Navigation */
    ul.f-navv > li {
        padding: 0 32px;
    }
    /* End Footer Navigation */

    /* Find mentor css */
    /* interest css */
    .add-exp-mentorz {
        width:81%;
    }
    .spin-continue {
        width: 40%;
    }
    /* end interest css */

}
@media screen and (max-width:767px) and (min-width:600px){
    /* Home page css */
        h3 {width: 69%;}
    /*header sec*/
    ul.user-sub{top: 93px;}
    #find-mentor-wrapp .container,#header-wrap .container,#be-mentor-wrap .container{width: 100%}
   .stories-wraper .container{width:100%;}
    ul.right-sec {
        margin-top: 11px;
        border-top: 1px solid #ffffff;
        padding-top: 12px;
        float:none;
    }
    .search-icon{float:right;}
    .s-icon{
        padding: 3px;
        width: 35px;
        background: #fff;
        border-radius: 100%;
        height: 35px;
        display: inline-block;
        position: relative;
        left:0;
    }
    input.m-search{max-width: 100%;}
    /*End header sec*/
    /*banner sec*/
    .engage-mentor-sec {
        top: 17%;
        width: 61%;
    }
    .engage-mentor-sec h1{width:100%;font-size: 23px;}
    .engage-mentor-sec p{width: 100%; margin-top: 10px;margin-bottom: 13px;}
    .engage-mentor-sec ul>li:last-child{margin-left: 4px;}
    /*End banner sec*/
    /*how it work sec*/
    .work-main h4{
        font-size: 27px;
        font-weight: 500;
    }
    .work-main p{
        width: 100%;
        font-size: 17px;
    }

    .img-sec-wrp {display: none; }
    .bg-work-sec {
        margin-top: 49px;
        padding: 4% 0%;
    }
    /*End how it work sec */
    /*popular stories*/
    .topic-sel ul{width: 100%;}
    #pop-t {
        margin: 22px 0px;
    }

    /*End popular stories */
    /*top stories*/

    .t-stories-slider, .tr-slider-slick{width: 96%;}
    .t-st-bx-wrapp, .tr-bx-wrapp{box-shadow: 0px 0px 3px #b4afaf;}
    /*End top stories  */
    /*footer sec*/
    ul.f-navv > li {
        padding: 0 12px;
    }
    #f-bod {
    margin: 23px 0px 20px;
    } 
    /*End footer sec */
    /* End Home page css */
    
    /* Login page */
    .login-popup .login-outer .login-form{
        padding: 28px 12px 25px;
    }
    /*End Login page  */
    /* interest css */
    .add-exp-mentorz {
        width: 100%;
    }
    .spin-continue {
        width: 40%;
    }
    /* end interest css */
    /* stories page */
    .recommended-post-container{display:none;}
    /* End stories page */
    /* Find mentor page */
    .list-data {
        justify-content:center;
        display: flex;
        width: 100%;
        
    }
    .find-mentor-4 {margin: 0;}
    /* End Find mentor page */
}
@media only screen and (max-width:599px){
    #find-mentor-wrapp .container,#header-wrap .container,#be-mentor-wrap .container{width: 100%}
    h3{width:100%}
    /* Home page css */
    ul.right-sec {
        margin-top: 11px;
        border-top: 1px solid #ffffff;
        padding-top: 12px;
        float:none;
    }
    .search-icon{float:right;}
    .s-icon{
        padding: 3px;
        width: 35px;
        background: #fff;
        border-radius: 100%;
        height: 35px;
        display: inline-block;
        position: relative;
        left:0;
    }
    input.m-search{max-width: 100%;}
    ul.user-sub{top: 93px;}
    /*End header sec*/
    /* Banner css */
    .engage-mentor-sec{
        top:0
    }
    .engage-mentor-sec h1 {
        width: 100%;
        font-size: 18px;
    }
    .engage-mentor-sec p{
        width: 100%;
    }
    .engage-mentor-sec ul{display:none;}
    /* End Bannner css */
    /* How it work css */
    .bg-work-sec{margin-top: 29px;}
    .work-main h4{
        font-size: 27px;
        font-weight: 500;
    }
    .work-main p{
        width: 100%;
        font-size: 17px;
    }

    .img-sec-wrp {display: none; }
    .bg-work-sec {
        margin-top: 49px;
        padding: 4% 0%;
    }
    #work-wrap .slick-dots{width:100%}
    /* End How it work css */
    /* Popular stories css */
    .topic-sel ul{width:100%;}
    /* End Popular stories css */
    
    /* Footer css */
    ul.f-navv > li {padding: 0 5px;}
    ul.f-social li {padding: 0 3px;}
    /* End Home page css */
    /* Find mentor css */
    .list-data {
        justify-content:center;
        display: flex;
        width: 100%;
    }
    .find-mentor-4 {margin: 0;}
    
    .r-corner{top: 3px;}
    .t-st-bx-wrapp, .tr-bx-wrapp{
       margin-bottom: 35px;
    }
    .mar30 {
      margin-top: 0px;
    }
    /* End Find mentor css */
    /* Login page css*/
    .login-popup .login-outer .login-form{
        padding: 0px 2px 22px;
    }
    
    .login-popup .login-outer ul li .std {
        width: 21%;
        margin-right: 5px;
    }
    .phonesignup{
        width: 77% !important;
    }
    /* End Login page */
    /* interest css */
    .add-exp-mentorz {
        width: 100%;
    }
    .spin-continue {
        width: 40%;
    }
    /* End interest css */
}
@media only screen and (max-width:379px){
    /* Header css */
    ul.right-sec{float:none;}
    ul.right-sec >li {
        padding: 0 14px;
    }
    ul.user-sub{top: 93px;}
    /* End Header css */
    /* Banner sec css */
    .bg-work-sec { margin-top: 32px;}
    .engage-mentor-sec h1{font-size: 13px;}
    .engage-mentor-sec{width: 59%;}
    .engage-mentor-sec p{margin-top: 0;}
    /* End Banner css */
    /* trending mentor css */
    .t-stories-slider, .tr-slider-slick{width:100%}
    p#vw-all{margin: 41px 0 57px;}
    p#vw-all a{ padding: 11px 43px; }
    /* End trending mentor css */
    /* Find mentor css*/
    .list-data {
        justify-content: space-between;
        flex-flow: column wrap;
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1 1 100%;
    }
    .find-mentor-4 {margin: 0;}
    .find-ment-wrap{
        text-align: left;
    }
    .bement {padding:5px 13px; }
    /* End find mentor css */

    /* Login page css*/
    .login-popup .login-outer .login-form{
        padding: 0px 2px 22px;
    }
    .ln-sec:before,.fb-sec:before{display: none;}
    .login-popup .login-outer ul li .std {
        width: 21%;
        margin-right: 5px;
    }
    .phonesignup{
        width: 77% !important;
    }
    /* End Login page */
    /* interest css */
    .add-exp-mentorz {
        width: 100%;
    }
    .spin-continue {
        width: 40%;
    }
    /* End interest css */
}