<form class="form">
<h1>SET NEW PASSWORD</h1>  
<label>Enter the new password:</label><input type="password"><br>
<label>Confirm password:</label><input type="password"><br>
<button type="submit">Submit</button>
</form>